#home {
  position: relative;
  height: 100vh;
  min-height: 600px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.market-mog-header {
  font-size: var(--step-2);
  margin-bottom: 100px;
}

.home-welcome {
  padding: 2rem;
  background-color: var(--secondary-bg-color);
  text-align: center;
  font-size: var(--step-0);
  border-radius: 20px;
  box-shadow: 0 2px 5px black;
}

.sample-item {
  color: var(--primary-accent-color);
}

#home .credits {
  position: absolute;
  bottom: 1rem;
}
