#item-data {
  padding: 2rem 4rem;
}

#item-data-header {
  text-align: center;
  font-size: var(--step-0);
}

.world-name {
  text-transform: capitalize;
  color: var(--green-text);
}

@media only screen and (max-width: 768px) {
  #item-data {
    padding: 2rem 1rem;
  }
}
