#recent-item-tables {
  display: flex;
  justify-content: space-between;
}

#item-listings,
#item-recent-history {
  flex-basis: 50%;
  height: max-content;
}

#item-listings {
  margin-right: 1rem;
}

#item-recent-history {
  margin-left: 1rem;
}

#recent-item-tables table {
  background-color: var(--secondary-bg-color);
  width: 100%;
  border-collapse: collapse;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 2px 5px black;
}

#recent-item-tables th,
#recent-item-tables td {
  padding: 1rem;
  border-right: 1px solid var(--secondary-accent-color);
  text-align: center;
}

#recent-item-tables th:last-child,
#recent-item-tables td:last-child {
  border-right: none;
}

#recent-item-tables th {
  background-color: #353036;
}

#recent-item-tables tr:nth-child(even) {
  background-color: var(--tertiary-bg-color);
}

#recent-item-tables thead {
  box-shadow: 0 4px 2px -2px black;
}

#recent-item-tables .item-row:hover {
  background-color: var(--tertiary-accent-color);
}

#weekly-averages {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 50px;
}

#weekly-averages > p {
  background-color: var(--secondary-bg-color);
  padding: 2rem;
  font-size: var(--step-0);
  border-radius: 20px;
  box-shadow: 0 2px 5px black;
}

.green-text {
  color: var(--green-text);
}

.red-text {
  color: var(--red-text);
}
